<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kDez5zP5E5GpWw5Dd2CzK5c38" crossorigin="anonymous">
    <style>
        .list-group-item {
            background-color: skyblue;
            border: none;
            margin-bottom: 10px;
            display: inline;
        }

        .list-group-item a {
            color: black;
            text-decoration: none;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Choose your own adventure</h1>

        <div class="card mt-3">
            <div class="card-body">
                <h3>{{ .Title }}</h3>
                {{ range .Paragraphs }}
                <p>{{ . }}</p>
                {{ end }}

                {{ range .Options }}
                <ul class="list-group">
                    <li class="list-group-item"><a href="/{{ .Chapter }}">{{ .Text }}</a></li>
                </ul>
                {{ end }}
            </div>
        </div>
    </div>
</body>

</html>
